.movie-card {
    font-size: 1em;
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 1.5em;
    background-color: white;
}

.movie-card__title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.movie-card__duration-container {
    color: white;
    margin-bottom: 0.5em;
}

.movie-card__duration {
    background: #2a408c;
    width: fit-content;
    padding: 0.3em 0.5em;
    border-radius: 6px;
    margin-bottom: 0.2em;
}

.movie-card__show-times-container {
    width: fit-content;
    padding: 0.3em;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.movie-card__showtime-text {
    background-color: black;
    padding: 0.2em 0.5em;
    border-radius: 6px;
    color: white;
}
